<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Connected to Google</title>
	<link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"></link> 
 	<link th:href="@{/resources/css/custom-style.css}" rel="stylesheet"></link> 
</head>
	<body>
		<div id="header">
			<h1><a th:href="@{/}">Home</a></h1>
		</div>
		
		<div id="content">
			<h3>Connected to Google</h3>
			
			<form id="disconnect" method="post">
				<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
				<div class="formInfo">
					<p>
						You are connected to your Google account.
						Click the button if you wish to disconnect.
					</p>		
				</div>
				<button type="submit">Disconnect</button>	
				<input type="hidden" name="_method" value="delete" />
			</form>
			
			<a th:href="@{/google}">View your Google profile</a>
		</div>		
	</body>
</html>