<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:social="http://spring.io/springsocial">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title th:text="#{message.reset.password.page}"></title>
	<script th:src="@{/resources/js/jquery-2.2.4.min.js}"></script>
	<script th:src="@{/resources/js/bootstrap.min.js}"></script>
	<script th:src="@{/resources/js/formvalidator/jquery.form-validator.min.js}"></script>
	<script th:src="@{/resources/js/pwstrength-bootstrap.min.js}"></script>
	<script th:src="@{/resources/js/custom-form-validation.js}"></script>
	<link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"></link>
	<link th:href="@{/resources/css/font-awesome.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/custom-style.css}" rel="stylesheet"></link>
</head>

<script th:inline="javascript">
/*<![CDATA[*/
    $(document).ready(function () {
    	
        // http://www.formvalidator.net
        $.validate({
        	modules : 'toggleDisabled', 
        	form : '#changePasswordForm',
        	lang : /*[[${locale}]]*/ 'en', 
        	inputParentClassOnSuccess: '',
        });
		
     	// Display proper bootstrap class on validated input element
        $('input').on('blur', function(event) {
			$(this).customValidationDisplay(event);
		});
        
     	// Display proper bootstrap class on all input elements of the form
		$('form#changePasswordForm').submit(function(event) {
			$(':submit').focus();
			$("form#changePasswordForm input").each(function() {
				var input = $(this);
				var type = input.attr('type');
				if (type != 'submit' && type != 'button') {
					input.customValidationDisplay(event);
				}
			});
			// event.preventDefault(); // stop form submission
		});
     	
     	//TODO
     	// https://github.com/ablanco/jquery.pwstrength.bootstrap
     	// http://jsfiddle.net/jquery4u/mmXV5/
		options = {
	            common: {minChar:8},
	            ui: {
	            	showProgressBar:true,
	                showVerdictsInsideProgressBar:true,
	                container: "#pwd-container",
	                viewports: {
	                    progress: ".pwstrength_viewport_progress"
	                }
                }
	        };
     	
	     $('#password').pwstrength(options);

	     $('#password').keydown(function() {
			$(this).pwstrength('forceUpdate');
		});
		
    });
/*]]>*/
</script>

<body>
	<div class="main-container"
		sec:authorize="hasAuthority('CHANGE_PASSWORD_PRIVILEGE')">
		<div class="login-container">
			<div class="login-card">
				<div class="login-form">
					<form id="changePasswordForm" th:action="@{/updatePassword}"
						th:object="${passwordModel}" method="POST" class="form-horizontal">
						<div
							th:if="${errorMessages != null and !#lists.isEmpty(errorMessages)}"
							class="alert alert-danger">
							<p th:each="errorMessage : ${errorMessages}"
								th:text="${errorMessage}"></p>
						</div>

						<div class="form-group has-feedback input-sm" id="pwd-container">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon add-on"><i
										class="fa fa-lock" aria-hidden="true"></i></span> <input
										type="password" id="password" name="password"
										class="form-control"
										th:placeholder="#{message.login.label.password.new}"
										maxlength="20" data-validation="required length"
										data-validation-length="8-20"
										th:attr="data-validation-error-msg-required=#{error.message.user.password.not.empty}, 
											data-validation-error-msg-length=#{error.message.user.password.size('', 20, 8)}"
										data-validation-error-msg-container="#password-error-dialog" />
								</div>
								<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
								<span id="password-error-dialog" class="help-block with-errors"></span>
								<!-- <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></span> -->
								<div class="pwstrength_viewport_progress"></div>
							</div>
						</div>

						<div class="form-group has-feedback input-sm">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon add-on"><i
										class="fa fa-lock" aria-hidden="true"></i></span> <input
										type="password" id="confirmPassword" name="confirmPassword"
										class="form-control"
										th:placeholder="#{message.login.label.password.new.confirmation}"
										maxlength="20" data-validation="required length"
										data-validation-length="8-20"
										th:attr="data-validation-error-msg-required=#{error.message.user.password.not.empty}, 
											data-validation-error-msg-length=#{error.message.user.password.size('', 20, 8)}"
										data-validation-error-msg-container="#confirm-password-error-dialog" />
								</div>
								<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
								<span id="confirm-password-error-dialog"
									class="help-block with-errors"></span>
								<!-- <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="error"></span> -->
							</div>
						</div>

						<div class="form-group">
							<input type="submit" id="changePasswordFormSubmit"
								class="btn btn-block btn-primary btn-default"
								th:value="#{message.label.submit}" />
						</div>
						
						<div class="form-group">
							<div class="panel panel-default"
								style="width: 100%; display: inline-block;">
								<div class="panel-body" style="float: left;">
									<a th:href="@{/login}" th:text="#{message.login.page.label}">Login</a>
								</div>
								<div class="panel-body" style="float: right;">
									<a th:href="@{/register}"
										th:text="#{message.login.label.register}">Register</a>
								</div>
							</div>
						</div>
					</form>
				</div>

			</div>
		</div>
</body>
</html>