<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:social="http://spring.io/springsocial">
<head>
 	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" /> 
 	<title th:text="#{message.reset.password.page}"></title>
 	<script th:src="@{/resources/js/jquery-2.2.4.min.js}"></script>
	<script th:src="@{/resources/js/bootstrap.min.js}"></script>
	<script th:src="@{/resources/js/formvalidator/jquery.form-validator.min.js}"></script>
	<script th:src="@{/resources/js/custom-form-validation.js}"></script>
 	<link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"></link> 
 	<link th:href="@{/resources/css/font-awesome.min.css}" rel="stylesheet" /> 
 	<link th:href="@{/resources/css/custom-style.css}" rel="stylesheet"></link> 
</head>

<script th:inline="javascript">
/*<![CDATA[*/
    $(document).ready(function () {
    	
        // http://www.formvalidator.net
        $.validate({
        	modules : 'toggleDisabled', 
        	form : '#resetPasswordForm',
        	lang : /*[[${locale}]]*/ 'en', 
        	inputParentClassOnSuccess: '',
        });
		
     	// Display proper bootstrap class on validated input element
        $('input').on('blur', function(event) {
			$(this).customValidationDisplay(event);
		});
        
     	// Display proper bootstrap class on all input elements of the form
		$('form#resetPasswordForm').submit(function(event) {
			$(':submit').focus();
			$("form#resetPasswordForm input").each(function() {
				var input = $(this);
				var type = input.attr('type');
				if (type != 'submit' && type != 'button') {
					input.customValidationDisplay(event);
				}
			});
			// event.preventDefault(); // stop form submission
		});
		
    });
/*]]>*/
</script>

<body>
 	<div class="main-container"> 
 		<div class="login-container"> 
 			<div class="login-card"> 
 				<div class="login-form"> 
 					<form id="resetPasswordForm" th:action="@{/resetPassword}" method="POST" class="form-horizontal"> 
						<div th:if="${!#strings.isEmpty(message)}" class="alert alert-danger">
 							<p th:text="${message}"></p>
 						</div>

						<div class="form-group has-feedback input-sm">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon">@</span> 
									<input type="email" id="email" name="email" class="form-control"
										maxlength="254" 
										th:placeholder="#{message.enter.email}"
										data-validation="required email"
										th:attr="data-validation-error-msg-required=#{error.message.user.email.not.empty}, 
											data-validation-error-msg-email=#{error.message.user.email.incorrect}"
										data-validation-error-msg-container="#email-error-dialog" />
								</div>
								<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
								<span id="email-error-dialog" class="help-block with-errors"></span>
							</div>
						</div>

						<div class="form-actions input-sm"> 
							<input type="submit" id="resetPasswordFormSubmit" class="btn btn-block btn-primary btn-default" th:value="#{message.label.submit}" /> 
 						</div>
					</form> 
 				</div> 
 				
 				<div class="panel panel-default" style="width: 100%; display: inline-block;"> 
 					<div class="panel-body" style="float: left;"> 
 						<a th:href="@{/login}" th:text="#{message.login.page.label}">Login</a>
 					</div>
 					<div class="panel-body" style="float: right;"> 
 						<a th:href="@{/register}" th:text="#{message.login.label.register}">Register</a> 
 					</div>
 				</div>
 				
 		</div> 
 	</div> 
</body>
</html>